 
 
 body {
    background-color: rgb(37, 4, 41);
    color:white;
 }

 h1 {
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 5em;

 }

 h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    text-align: center;
 }

 h3 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin: 0.1em;
 }

 p {
    font-family: "Gaegu", sans-serif;
    font-size: 1em;
 }

.menu {
    display: flex;
    flex-direction: row;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5em;
    justify-content: space-evenly;
    width: 30%;
    margin: auto;

}

.menu > a {

}

 .box {
    background-color: rgba(255, 127, 187, 0.439);
    border-radius: 1em;
    padding: 2em;

    /* box-shadow: 0px 0px 1em rgba(255, 127, 187, 0.439); */
 }

#polaroidBox {
    display: flex;
    flex-wrap: wrap;
}

 .polaroid {
    background-color: white;
    width: 15em;
    height: 18em;
    padding-top: 1.5em;
    margin-right: 2em;
    color: black;
    font-family: "Gaegu", sans-serif;


 }

 .picture {
    width:12em;
    height: 12em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    background-color: rgb(73, 105, 173);
    color: white;
 }

 .picture > img {
    width: 12em;
    border: 0.01em, solid, black;
 }

 .picText {
    font-family: "Gaegu", sans-srif;
    line-height: 1.1;
    text-align: center;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 7.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
 }

 .picTextHead {
    font-size: 1.05em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
 }


 .dottedUnderline {
  color: white;
  border-bottom: 0.125em dotted white;
  display: inline;
  text-decoration: none;

}

.loopyFont {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.pixelFont {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainFont {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
