 
 
 body {
    background-color: rgb(37, 4, 41);
    color:white;
 }

 h1 {
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 5em;

 }

 h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
 }

 h3 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    margin: 0.1em;
 }

 p {
    font-family: "Gaegu", sans-serif;
    font-size: 1em;
 }

.menu {
    display: flex;
    flex-direction: row;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5em;
    justify-content: space-evenly;
    max-width: 20em;
    margin: auto;
}

.pageHeading {
   font-size: 2.5em;
}

.box {
   background-color: rgba(255, 127, 187, 0.439);
   border-radius: 1em;
   padding: 2em;
   margin: 1em;


   font-size: 1.2rem;
   font-family: "Afacad Flux", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
   "slnt" 0;

   /* box-shadow: 0px 0px 1em rgba(255, 127, 187, 0.439); */
}

#polaroidBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.polaroid {
   background-color: white;
   width: 15em;
   height: 18em;
   padding-top: 1.5em;
   margin-right: 2em;
   color: black;
   font-family: "Gaegu", sans-serif;


}

.picture {
   width:12em;
   height: 12em;
   margin-left: 1.5em;
   margin-right: 1.5em;
   background-color: rgb(73, 105, 173);
   color: white;
}

.picture > img {
   width: 12em;
   border: 0.01em, solid, black;
   max-width: 100%;
   height: auto;
}

.picText {
   font-family: "Gaegu", sans-srif;
   line-height: 1.1;
   text-align: center;
   font-size: 0.8em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 7.5em;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

.picTextHead {
   font-size: 1.05em;
   margin-top: 0.3em;
   margin-bottom: 0.3em;
}

.tooltipContainer { /* all tooltip classes modified from https://www.w3schools.com/css/css_tooltip.asp */
   position: relative;
   display: inline-block;
}
.tooltipText {
   visibility: hidden; /*display: none;*/
   width: auto;
   top: 100%;
   left: 50%;
   /* margin-left: calc((width)/-2); */
   background-color: rgba(255, 255, 255, 0.5);
   color: black;

   text-align: center;
   padding: 0.2em;
   border-radius: 6px;
   position: absolute;
}
.tooltipContainer:hover .tooltipText {
   visibility: visible;
}

.dottedUnderline {
  color: white;
  border-bottom: 0.125em dotted white;
  display: inline;
  text-decoration: none;

}



.loopyFont {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.pixelFont {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainFont {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.funFont {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}